.hamburger
  position: relative
  display: block
  width: $hamburger.width
  height: $hamburger.height
  overflow: hidden
  margin: 0
  padding: 0
  border: none
  border-radius: 0
  box-shadow: none
  text-indent: -9999px
  font-size: 0
  cursor: pointer
  appearance: none

  &:focus
    outline: none

  span
    top: (($hamburger.height / 2) - ($hamburger.bar-thickness / 2))
    right: $hamburger.pad
    left: $hamburger.pad
    transition-duration: $hamburger.transition-duration\, $hamburger.transition-duration

    .is_site-nav--visible &
      background-color: $colors.background

    &,
    &::before,
    &::after
      position: absolute
      display: block
      height: $hamburger.bar-thickness
      background-color: $hamburger.bar-color
      transition-delay: $hamburger.transition-duration\, 0s
      transition-duration: $hamburger.transition-duration\, $hamburger.transition-duration

      .is_site-nav--visible &
        transition-delay: 0s\, $hamburger.transition-duration

    &::before,
    &::after
      content: ''
      left: 0
      width: 100%

    &::before
      top: (-($hamburger.bar-thickness) - $hamburger.bar-space)
      /* autoprefixer: off */
      -webkit-transition-property: top\, -webkit-transform
      transition-property: top\, -webkit-transform
      transition-property: top\, transform
      /* autoprefixer: on */

      .is_site-nav--visible &
        top: 0
        transform: rotate(45deg)

    &::after
      bottom: (-($hamburger.bar-thickness) - $hamburger.bar-space)
      /* autoprefixer: off */
      -webkit-transition-property: bottom\, -webkit-transform
      transition-property: bottom\, -webkit-transform
      transition-property: bottom\, transform
      /* autoprefixer: on */

      .is_site-nav--visible &
        bottom: 0
        transform: rotate(-45deg)
