/**
 * styles for user generated content
 */

// ugc spacing placeholders

$ugc-spacing_first-level
  margin-top: $spacing.normal
  margin-bottom: $spacing.normal

$ugc-spacing_second-level
  margin-top: $spacing.small
  margin-bottom: $spacing.small

$ugc-spacing_first-level,
$ugc-spacing_second-level
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


// ugc container and children

.ugc // user generated content
  font-size: $font-size.normal
  line-height: $line-height.normal


  // -- Text

  p
    @extend $ugc-spacing_first-level

  // strong, b
  // em, i
  // abbr
  // dfn


  // -- Links

  // a


  // -- Headlines

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    @extend $ugc-spacing_first-level

  h1
    font-size: 2em
    font-weight: bold

  h2
    font-size: 1.5em
    font-weight: bold

  h3
    font-size: 1.175em
    font-weight: bold

  h4
    font-size: 1em
    font-weight: bold

  h5
    font-size: .85em
    font-weight: bold
    text-transform: uppercase

  h6
    font-size: .75em
    text-transform: uppercase



  // -- Lists

  ul,
  ol
    @extend $ugc-spacing_first-level
    padding-left: $spacing.normal

  ul
    list-style-type: disc

  ol
    list-style-type: decimal

  li
    @extend $ugc-spacing_second-level


  // -- Definition lists

  dl
    @extend $ugc-spacing_first-level
    padding-left: $spacing.small

  dd
    margin-left: $spacing.small

  dd + dt
    margin-top: $spacing.small;


  // -- Quotes

  blockquote
    @extend $ugc-spacing_first-level

  // cite


  // -- Code

  pre
    @extend $ugc-spacing_first-level

  // code
  // var
  // samp
  // kbd


  // Media and embeds

  iframe,
  object,
  video,
  audio,
  canvas
    @extend $ugc-spacing_first-level


  // Tables

  table
    @extend $ugc-spacing_first-level


  // Other

  div
    @extend $ugc-spacing_first-level

  hr
    @extend $ugc-spacing_first-level
