/**
 * Momentum scroll
 */

momentum()
  overflow: scroll
  -webkit-overflow-scrolling: touch

momentum-x()
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

momentum-y()
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
