@font-face
  font-family: icons
  src: url('/assets/fonts/icons/icons.ttf') format('truetype'),
       url('/assets/fonts/icons/icons.woff') format('woff'),
       url('/assets/fonts/icons/icons.svg#icons') format('svg')
  font-weight: normal
  font-style: normal
