.site-nav,
.site-nav-toggle,
.site-wrap
  transform: translateX(0)
  transition: transform $nav.transition-duration

.site-nav,
.site-nav-toggle
  position: fixed
  top: 0

.site-nav-toggle
  left: 0
  z-index: $z-index.nav + 1

  .is_site-nav--visible &
    transform: translateX($nav.width - $hamburger.width - 1)

.is_site-nav--visible
  .site-wrap
    transform: translateX($nav.width + 1)
  html, body
    overflow-x: hidden

.site-nav
  left: - ($nav.width)
  z-index: $z-index.nav
  max-width: 100%
  width: $nav.width
  padding-top: $hamburger.height
  border-right: 1px solid silver

  .is_site-nav--visible &
    transform: translateX($nav.width)

  &_list
    height: 'calc(100vh - %s)' % $hamburger.height
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    list-style-type: none

  &_item
    display: block
    border-bottom: 1px solid silver

    &:first-child
      border-top: @border-bottom

  &_link
    display: block
    padding: $nav.item-padding.v $nav.item-padding.h
    color: black
    letter-spacing: .1em
    font-weight: bold
    text-transform: uppercase

  &_link:hover
    background: #f0f0f0
    text-decoration: none
