.site-main
  margin: 2em 1em

.site-title
  margin-bottom: $spacing.normal
  text-transform: uppercase
  font-weight: bold
  font-size: 2em

.site-footer
  padding: 1em
  color: silver
  font-size: .85em

  strong
    color: tomato
    font-size: 1.2em

  code
    color: slategray

