script
  //- :uglify
  //-   var _paq = _paq || [];
  //-   _paq.push(['trackPageView']);
  //-   _paq.push(['enableLinkTracking']);
  //-   (function(url, el, script) {
  //-     _paq.push(['setTrackerUrl', url + 'piwik.php']);
  //-     _paq.push(['setSiteId', 2]);
  //-     el.type = 'text/javascript';
  //-     el.async = true;
  //-     el.defer = true;
  //-     el.src = url + 'piwik.js';
  //-     script.parentNode.insertBefore(el, script);
  //-   })(
  //-     '//analytics.simbo.de/',
  //-     document.createElement('script'),
  //-     document.getElementsByTagName('script')[0]
  //-   );
