script(src='//ajax.googleapis.com/ajax/libs/jquery/#{getDependencyVersion("jquery")}/jquery.min.js')
script window.jQuery || document.write('<script src="/assets/vendor/jquery/jquery.min.js"><\/script>')
