{
  "extends": "simbo/default/browser/es6",
  "env": {
    "commonjs": true
  },
  "globals": {
    "global": true,
    "$": true
  },
  "rules": {
    "prefer-reflect": 0,
    "require-jsdoc": 0,
    "vars-on-top": 0
  }
}
