@require 'base'

body
  background: ivory

.error
  margin: 1em
  color: gray
  line-height: $line-height.normal

  &_headline
    font-weight: bold
    font-size: .8em
    text-transform: uppercase

  &_message
    margin: 0 0 1em 0
    color: black
    font-style: italic
    font-size: 1.5em
    &::before
      content: '“'
    &::after
      content: '”'

  &_url,
  &_stack
    white-space: pre-line
    font-family: $font-family.monospace
