@require 'base'
@require 'components/card'
@require 'components/grid'
@require 'components/section'
@require 'components/textfield'

body
  background: lightgray

// .ratio--16-9
//   position: relative
//   padding-bottom: unit((9 / 16 * 100), '%')

// .layer
//   position: absolute
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%

// .bgimg
//   background-color: transparent
//   background-position: bottom center
//   background-size: 100% 100%
//   background-repeat: no-repeat

//   &::before
//     content: ''
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     background: linear-gradient(to top, rgba(0, 0, 0, .65), transparent 33.33333%)

//   &--andromeda
//     background-image: url('/assets/img/andromeda.jpg')
//     +mq-retina()
//       background-image: url('/assets/img/andromeda@2x.jpg')
//   &--landscape
//     background-image: url('/assets/img/landscape.jpg')
//     +mq-retina()
//       background-image: url('/assets/img/landscape@2x.jpg')
//   &--mountain-balloons
//     background-image: url('/assets/img/mountain-balloons.jpg')
//     +mq-retina()
//       background-image: url('/assets/img/mountain-balloons@2x.jpg')
//   &--mountains-china
//     background-image: url('/assets/img/mountains-china.jpg')
//     +mq-retina()
//       background-image: url('/assets/img/mountains-china@2x.jpg')

// .account-screen
//   padding: 16px 0
//   @media (min-width: 480px)
//     padding: 3.33333% 0
//   @media (min-width: 1024px)
//     padding: 6.66666%

// .mdl-card
//   max-width: 480px
//   width: calc(100% - 32px)
//   margin: 0 auto

//   &__title
//     position: relative
//     height: 100%
//     color: white

//     &-text
//       position: relative
//       z-index: 2

// .mdl-textfield
//   width: 100%
//   // padding-bottom: 0

//   &__label
//     &::after
//       bottom: 0

// .mdl-textfield--floating-label
//   &.is-dirty,
//   &.is-focused
//     .mdl-textfield__label
//       top: -4px
