---
template: home.jade
---

main
    .row
        .col-right
            .about
                .inner
                    .content
                        h1.my-name Simon Lepel
                        p #{siteDescription}
                    figure.avatar
                        img(src="#{gravatar(480)}", alt="Simon Lepel", title="Simon Lepel")
                ul.profiles
                    li
                        a.github(href="https://github.com/simbo", title="Simon Lepel on GitHub")
                            span simbo
                    li
                        a.twitter(href="https://twitter.com/simbo23", title="Simon Lepel on Twitter")
                            span @simbo23
                    li
                        a.google(href="https://www.google.com/search?q=%22Simon+Lepel%22", title="Simon Lepel on the web")
        .col-left
            .intro
                pre.hello-world Hello World
                .content
                    p You just stumbled upon my website. You are so awesome…
                    p There's not much too see here but you can get in touch with me if you feel like you have to.
                .no-thanks
                    p At the moment i'm not interested in any job offers, so please stop asking. Thanks.
    .contact
        ul
            li
                address.
                    Simon Lepel<br>
                    Oranienstraße 112<br>
                    10969 Berlin<br>
                    Germany
        ul
            li
                a.phone(href="tel:+491791441387") +49 179 1441387
            li
                a.mail(href="mailto:hallo@simonlepel.de") hallo@simonlepel.de
            li
                a.pgp(href="/files/simon-lepel-pubkey.asc") PGP FBE1AA39
