use('collection/plugins/quote.js')

@import 'variables'

@import 'collection/functions/grid-generator'

@import 'collection/mixins/clearfix'
@import 'collection/mixins/font-face'
@import 'collection/mixins/improved-text-rendering'
@import 'collection/mixins/mediaqueries'

@import 'collection/modules/mediaquery-placeholders'

create-grid(grid-config)

@import 'collection/modules/reset-and-normalize'
@import 'collection/modules/responsive-helpers'

@import 'scaffolding'
@import 'icons'
@import 'typo'

@import 'home'
