@import 'collection/mixins/font-face'

// font-face(LatoWeb, '../fonts/Lato/Lato-Light.woff', 300, normal)
// font-face(LatoWeb, '../fonts/Lato/Lato-LightItalic.woff', 300, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Regular.woff', 400, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-Italic.woff', 400, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Bold.woff', 700, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-BoldItalic.woff', 700, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Black.woff', 900, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-BlackItalic.woff', 900, italic)

font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Regular.woff', 400, normal)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Italic.woff', 400, italic)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Bold.woff', 700, normal)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-BoldItalic.woff', 700, italic)

font-face(Icons, '../fonts/Icons/icons.woff', 400, normal)
