@import 'collection/mixins/font-face'

// font-face(LatoWeb, '../fonts/Lato/Lato-Light.woff2', 300, normal)
// font-face(LatoWeb, '../fonts/Lato/Lato-LightItalic.woff2', 300, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Regular.woff2', 400, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-Italic.woff2', 400, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Bold.woff2', 700, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-BoldItalic.woff2', 700, italic)
font-face(LatoWeb, '../fonts/Lato/Lato-Black.woff2', 900, normal)
font-face(LatoWeb, '../fonts/Lato/Lato-BlackItalic.woff2', 900, italic)

font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Regular.woff2', 400, normal)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Italic.woff2', 400, italic)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-Bold.woff2', 700, normal)
font-face(MesloWeb, '../fonts/Meslo/MesloLGMDZ-BoldItalic.woff2', 700, italic)
